.env

docker-compose.yml

logs/

pin-app/node_modules/
pin-services/auth/node_modules/

pin-app/build/
pin-app/dist/
pin-services/auth/build/
pin-services/auth/dist/

pin-app/.vscode/
pin-app/.idea/
pin-services/auth/.vscode/
pin-services/auth/.idea/

.DS_Store

*.tmp
*.swp
