.env

logs/

celestial-application/node_modules/
celestial-webservices/auth/node_modules/

celestial-application/build/
celestial-application/dist/
celestial-webservices/auth/build/
celestial-webservices/auth/dist/

celestial-application/.vscode/
celestial-application/.idea/
celestial-webservices/auth/.vscode/
celestial-webservices/auth/.idea/

.DS_Store

*.tmp
*.swp
