@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bottom-gradient-scrollbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Ajuste a altura conforme necessário */
  background: linear-gradient(to bottom, transparent, #464b5b ); /* Ajuste a cor final conforme necessário */
  pointer-events: none; /* Permite clicar nos elementos abaixo */
}

.h1-custom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limita a 3 linhas */
  overflow: hidden; /* Oculta o excesso de texto */
  text-overflow: ellipsis; /* Adiciona reticências ao final do texto */
}
